/* START: reset */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /* importa il font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
:root{
    --width_boxes: 70%;
}
/* END: reset */

/* bottoni */
.button_general_top{
    margin: 30px;
    align-items: center;
    text-decoration: none;

    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
}

.button_dark{
    display: flex;
    flex-direction: column;

    background-color: #23272A;
    color: #FFFFFF;
}

.button_white{
    display: flex;
    flex-direction: row;

    background-color: #FFFFFF;
    color: #23272A;
}

.button_last_dark{

    display: flex;
    flex-direction: column;

    font-size: 15px;
    border-radius: 28px;
    padding: 8px 10px;
    background-color: #7983F5;

    color: #FFFFFF;
    text-decoration: none;

}

.button_login{
    
    display: flex;
    flex-direction: row;

    border-radius: 40px;
    padding: 16px 32px;
    padding: 7px 16px;
    align-items: center;
    text-decoration: none;

    background-color: #FFFFFF;
    color: #23272A;
}

.button_last{
    display: flex;
    flex-direction: row;

    background-color: #7983F5;
    color: #FFFFFF;
}
/* bottoni */

/* START: header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #255EE9;
    padding: 30px;

    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_flex_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    margin: auto;
    margin-bottom: 20px;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 18px;
}

ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

ul li a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.down_flex_container{ /* START: barra di download */

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;

}

.pink_box{

    width: 55%;
    margin: auto;

    padding-top: 5px;
    padding-left: 4%;
    padding-right: 4%;

    text-align: center;
    color: white;

}/* END: barra di download */

/* END: header */

/* START: main */
main{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;

}

.main_box{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    width: var(--width_boxes);
    margin: auto;

}

.last_box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: var(--width_boxes);
    margin: auto;
    
    padding: 10px;

}

.image_big{
    width: 90%;
    max-height: 850px;
    align-items: top;
}

.spark_cont{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_main:nth-child(even){
    background-color: #F6F6F6;
}

.nav_main:nth-child(even) > .main_box{
    flex-direction: row-reverse;
}

.image_logo{
    max-height: 50px;
}

.image_class{
    width: 65%;
    max-height: 440px;
}

.box_2{
    width: 35%;
    margin: auto;    
    padding: 5px;
}
/* END: main */

/* START: footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #23272A;
    padding-top: 35px;
    padding-bottom: 35px;
}

.foot_box{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #23272A;
    width: var(--width_boxes);
    margin: auto;

}

.foot_sub_box{
    width: calc(75% / 4);
    font-size: 17px;
    padding-left: 15px;
}

.foot_sub_box:nth-child(1){
    width: 25%;
}

.sub_foot_box{ /* START: barra di download */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: var(--width_boxes);
    padding-left: 16px;
    border-top: 1px solid #7983F5;

    margin-top: 20px;
    padding: 10px;
}

.foot_sub_box > ul > li:nth-child(1){
    font-weight: bold;
    margin-bottom: 10px;
    color: #7983F5;
}

.foot_sub_box > ul > li{
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.foot_sub_box ul{
    margin-top: 5px;
}

.special_list_logos > li{
    display: inline-block;
    margin-right: 5px;
}
/* END: footer */
