/* START: reset */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); /* importa il font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
:root{
    --width_boxes: 70%;
    --color-white: #FFFFFF;
    --color-black: #23272A;
    --color-black-hover:#313338;
    --color-purple: #585BBE;
    --color-purple-hover: #7983F5;
}
/* END: reset */

/* START: bottoni */
.button_general_top{
    margin: 30px;
    align-items: center;
    text-decoration: none;

    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
}

.button_dark{
    display: flex;
    flex-direction: column;

    background-color: var(--color-black);
    color: var(--color-white);
}

.button_dark:hover{
    background-color: var(--color-black-hover);
}

.button_white{
    display: flex;
    flex-direction: row;

    /* freccina download nera */
    background-image: url(../img/freccia-download-nera.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;

    background-color: var(--color-white);
    color: var(--color-black);
}

.button_white:hover{

    cursor: pointer;
    color: var(--color-purple-hover);

    /* freccina download viola */
    background-image: url(../img/freccia-download-viola.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;

}

.button_last_dark{

    display: flex;
    flex-direction: column;

    font-size: 15px;
    border-radius: 28px;
    padding: 8px 10px;
    
    background-color: var(--color-purple);

    color: var(--color-white);
    text-decoration: none;

}

.button_last_dark:hover{

    cursor: pointer;
    background-color: var(--color-purple-hover);
}

.button_login{
    
    display: flex;
    flex-direction: row;

    border-radius: 40px;
    padding: 16px 32px;
    padding: 7px 16px;
    align-items: center;
    text-decoration: none;

    background-color: var(--color-white);
    color: var(--color-black);
}

.button_login:hover{
    cursor: pointer;
    color: var(--color-purple-hover);
}

.button_last{
    display: flex;
    flex-direction: row;

    /* background-color: #7983F5; */
    background-color: var(--color-purple);

    color: var(--color-white);
}

.button_last:hover{

    cursor: pointer;
    background-color: var(--color-purple-hover);

}
/* END: bottoni */

/* START: header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #255EE9;
    padding: 30px;

    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_flex_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    margin: auto;
    margin-bottom: 20px;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 18px;
}

h2{
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--color-black);
}

p{
    font-size: 20px;
}

ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: var(--color-white);
}

ul li a:hover{
    text-decoration: underline;
    color: var(--color-white);
}

.down_flex_container{ /* START: barra di download */

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;

}

.pink_box{

    width: 55%;
    margin: auto;

    padding-top: 5px;
    padding-left: 4%;
    padding-right: 4%;

    text-align: center;
    color: var(--color-white);

}/* END: barra di download */

/* END: header */

/* START: main */
main{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 30px;
    background-color: var(--color-white);

}

.main_box{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    width: var(--width_boxes);
    margin: auto;

}

.last_box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: var(--width_boxes);
    margin: auto;
    
    padding: 10px;

}

.image_big{
    width: 90%;
    max-height: 850px;
    align-items: top;
}

.spark_cont{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_main:nth-child(even){
    background-color: #F6F6F6;
}

.nav_main:nth-child(even) > .main_box{
    flex-direction: row-reverse;
}

.image_logo{
    max-height: 50px;
}

.image_class{
    width: 65%;
    max-height: 440px;
}

.box_2{
    width: 35%;
    margin: auto;    
    padding: 5px;
}
/* END: main */

/* START: footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-black);
    padding-top: 35px;
    padding-bottom: 35px;
}

.foot_box{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--color-black);
    width: var(--width_boxes);
    margin: auto;

}

.foot_sub_box{
    width: calc(75% / 4);
    font-size: 17px;
    padding-left: 15px;
}

.foot_sub_box:nth-child(1){
    width: 25%;
}

.sub_foot_box{ /* START: barra di download */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: var(--width_boxes);
    padding-left: 16px;
    border-top: 1px solid var(--color-purple);

    margin-top: 20px;
    padding: 10px;
}

.foot_sub_box > ul > li:nth-child(1){
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-purple);
}

.foot_sub_box > ul > li{
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-white);
}

.foot_sub_box ul{
    margin-top: 5px;
}

.special_list_logos > li{
    display: inline-block;
    margin-right: 5px;
}
/* END: footer */
