/* START: reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --min_height_header: 600px;
    --min_height_head_cont: 50px;
    --min_height_main_cont: 700px;
    --min_heigth_last_box: calc(var(--min_height_main_cont) + 200px);
    --dist_container: 100px;
    --width_nav_c: 75%;
    --width_boxes: 70%;
    --font-primary: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* END: reset */

.button_dark{

    display: flex;
    flex-direction: column;

    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
    background-color: #23272A;

    margin: 30px;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;

}

.button_last_dark{

    display: flex;
    flex-direction: column;

    font-size: 15px;
    border-radius: 28px;
    padding: 7px 9px;
    background-color: #23272A;

    margin: 30px;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;

}

.button_white{

    display: flex;
    flex-direction: row;

    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
    background-color: #FFFFFF;

    margin: 30px;
    align-items: center;
    text-decoration: none;
    color: #23272A;

}

.button_last{
    display: flex;
    flex-direction: row;

    font-size: 20px;
    border-radius: 28px;
    padding: 16px 32px;
    background-color: #7983F5;

    margin: 30px;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}

/* START: header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #255EE9;
    min-height: calc( var(--min_height_header) + 20px );

    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav_flex_container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: var(--min_height_head_cont);
    width: 70%;
    margin: auto;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 18px;

}

ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

ul li a:hover{
    text-decoration: underline;
    color: #FFFFFF;
}

.button_login{
    
    display: flex;
    flex-direction: row;

    border-radius: 40px;
    padding: 16px 32px;
    background-color: #FFFFFF;

    align-items: center;
    text-decoration: none;
    color: #23272A;

    padding: 7px 16px;

}

.down_flex_container{ /* START: barra di download */

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    min-height: calc(var(--min_height_header) - 50px);

    /* background-color: #255EE9; */
    /* border: 1px solid red; */

}

.pink_box{

    min-height: calc(var(--min_height_header) - var(--dist_container));
    width: 55%;
    margin: auto;

    padding-top: 5px;
    padding-left: 4%;
    padding-right: 4%;

    text-align: center;
    color: white;

    /* border: 1px solid red; */

}/* END: barra di download */

/* END: header */

/* START: main */
main{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;

}

.last_box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: var(--width_boxes);
    margin: auto;
    
    padding: 10px;

    /* border: 1px solid red; */
}

.image_big{
    width: 90%;
    /* height: 850px; */
    max-height: 850px;
    align-items: top;
    /* border: 1px solid red; */
}

.spark_cont{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav_main:nth-child(even){
    background-color: #F6F6F6;
}

.nav_main:last-child{
    min-height: var(--min_heigth_last_box);
}

.nav_main:nth-child(even) > .main_box{
    flex-direction: row-reverse;
}

.main_box{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    width: var(--width_boxes);
    margin: auto;

    border: 1px solid red;

}

.image_logo{
    max-height: 50px;
}

.image_class{
    width: 65%;
    max-height: 440px;
}

.box_2{
    
    width: 35%;
    margin: auto;
    max-height: 440px;
    
    padding: 5px;

}
/* END: main */

/* START: footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    min-height: var(--min_height_header);
    background-color: #23272A;
    padding: 2%;
}

.foot_box{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 2px dashed white;
    background-color: #4CB0AD;
    width: var(--width_boxes);
    height: calc( 90/100*var(--min_height_header) );
    margin: auto;
}

.foot_sub_box{
    border: 2px dashed white;
}

.foot_sub_box:nth-child(1){
    width: 30%;
    background-color: lightgrey;
    border: 2px dashed red;
}

.sub_foot_box{ /* START: barra di download */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: orange;
    width: var(--width_boxes);
    height: calc( 10/100*var(--min_height_header) );
    padding-left: 10px;
    padding-right: 10px;
}

/* END: footer */
